[local]
localhost

[sandbox]
{{ args.sandbox_hostname }}

[masters]
{{ args.sandbox_hostname }}

[etcd]
{{ args.sandbox_hostname }}

[nodes]
{{ args.sandbox_hostname }} openshift_node_labels="{'region': 'infra', 'zone': 'default'}"

[OSEv3:children]
masters
nodes
etcd

[OSEv3:vars]

# Use the admin user for SSH connections:
ansible_ssh_user=admin
ansible_become=true

# Deploy the upstream version:
openshift_deployment_type=origin

# To deploy the application we don't really need the amount of disk and memory
# that is required by the installer by default:
openshift_disable_check=disk_availability,memory_availability

# Disable some components that we don't need:
ansible_service_broker_install=false
openshift_enable_service_catalog=false
openshift_hosted_manage_registry=false
openshift_web_console_install=false
template_service_broker_install=false

[all:vars]

# Create a global variable for each command line option passed to the build
# script:
{% for name, value in args.items() %}
{{ name }}="{{ value }}"
{% endfor %}

# Names of the iSCSI target and initiatior:
sandbox_initiator=iqn.2018-06.local.sandbox:initiator
sandbox_target=iqn.2018-06.local.sandbox:target

# Number and size (in GiB) of LUNs to create in the iSCSI target:
sandbox_lun_count=10
sandbox_lun_size=1
